<div class="form-group" data-ng-show="enableRecipeEdit">
    <div class="col-md-12">
        <label class="control-label" for="inputId">Recipe Id</label>
        <input class="form-control"
               id="inputId"
               type="text"
               placeholder=""
               ng-model="recipeDetails.Id"
               required
               numeric-only />
    </div>
    <div class="col-md-12">
        <label class="control-label" for="inputName">Name</label>
        <input class="form-control"
               id="inputName"
               type="text"
               placeholder=""
               ng-model="recipeDetails.Name"
               required />
    </div>
</div>
